@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #f42b14;
}

.backgroundMainn {
  background-color: #3b3a3b;
}

.backgroundMain {
  background-color: #1a1a1a;
}

.newColor {
  color: #1a1a1a;
}

.coverLine {
  width: 100%;
  height: 2rem;
 background-color: #fff; 
  position: absolute;
  bottom: -1.9rem;
  z-index: 3;
}